*{
  font-family: Arial;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#FBE940;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
  cursor: pointer
}

.sidebar a:hover {
  font-size: 30px;
}
.home:hover{
  transform: scale(1.2);
}
.user:hover{
  transform: scale(1.2);
}
.user{
  background-color: transparent;
  color:white;
  transition: 0.3s;
  cursor: pointer;
  border:none;
  float:right;
}

.home{
  background-color: transparent;
  padding: 8px 8px 8px 32px;
  color:rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
  cursor: pointer;
  border:none;
}


.sidebar .closebtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  margin: 10px;
  border: none;
}

/*.openbtn:hover {
  font-size: 25px;
}*/

#main {
  transition: margin-left .5s;
  background-color: rgba(0, 0, 0, 0.773);
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  bottom: 10%;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.toolbar {
  height: 10%;
  width: 90%;
}

.toolbar button{
  background-color: black;
  padding: 8px 8px 8px 32px;
  color:rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
  cursor: pointer;
  border:none;
}

.toolbar button:hover {
  transform: (1.2);
}

.dropdown {
  position: fixed;
  left: 80%;
  width: 10%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin-top: 30%;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.7;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.show {display: block;}