.app {
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    bottom: 10%;
    background-color: #0A0A0A;
  }
 
  input[type="text"],
  InputText[type="email"],
  input[type="password"],
  InputText,
  Password{
    height: 30px;
    width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #000000;
    border-radius: 15px;
    border-style: none;
    padding: 10px 30px;
  }
  
  input[type="submit"]:hover {
    background: #00000088;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }

  .button-container input{
    background-color: #FBE940;
  }
  
  .login-form {
    background-color: white;
    padding: 3rem;
    width: 25%;
    height: auto;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 70px;
  }

  .signup-form {
    background-color: white;
    padding: 3rem;
    width: 25%;
    height: auto;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 70px;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .nombreApp {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .nombreNav {
    font-size: 25px;
    margin-bottom: 10px;
  }

  #alert {
    background-color: #FBE940;
    float: initial;
    display: inherit;
    border-radius: 10px;
    text-align: center;
    height: 6%;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 2147483647;
    top: 20%;
    left: 25%;
    width: 50%;
  }
  #divAlert {
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .close{
    position: fixed;
    left: 28%;
  }
  #spann {
    position: fixed;
    left: 40%;
    width: 20%;
  }